body {
    font-family: "Inter"; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #f0f0f0; /* Цвет фона веб-страницы */
    color: #333333; /* Цвет основного текста */ 
}
h1 {
    color: #000000; /* Цвет заголовка */
    font-size: 30px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    text-align: center;
    animation: color-change 3s infinite;
}
h2 {
    color: #000000; /* Цвет заголовка */
    font-size: 30px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    text-align: center;
}
h3 {
    color: #000000; /* Цвет заголовка */
    font-size: 30px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    text-align: center;
}
p {
    color: #555555; /* Цвет заголовка */
    font-size: 25px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    text-align: center;
}
li {
    color: #00b7ff; /* Цвет заголовка */
    font-size: 30px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}

@keyframes color-change {
    0% {
      color: rgb(0, 0, 0);
    }
  
    50% {
      color: rgb(255, 174, 0);
    }
  
    100% {
      color: rgb(0, 0, 0);
    }
}